a {
  text-decoration: none;
}

.button {
  color: #fff;
  background-color: #c4302b;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}


a {
  background-color: darkgreen !important;
  color: #fff !important;
  font-style: italic;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

ul {
  list-style: square;
}

ul li {
  margin: 5px;
  padding: 8px;
}

ul li a {
  padding: 5px;
  border-radius: 999px;
}